# Terraform artifacts
/terraform/.terraform/
/terraform/terraform.tfstate*
/terraform/*.backup
/terraform/.terraform.lock.hcl

# AWS CLI creds (just in case)
~/.aws/credentials

# IDE metadata
.vscode/
.DS_Store

# Script outputs
/scripts/*.fix
/scripts/*.json
# Local Terraform state
*.tfstate*
.terraform/

# AWS CLI installer
AWSCLIV2.msi
